body {
    margin: 0;
}

#logo {
    height: 60px;
    padding-top: 50px;
    padding-left: 10px;
}

#header {
    height: 110px;
    background-color: #4096f7;
    background-image: url("../img/pattern.png");
    background-size: 22%;
    margin: 0px 23%;
}

#main-content {
    margin: 15px 23%;
}

h1 {
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#the-booleaner {
    margin-top: 0;
    color: #4096f7;
    font-size: 22px;
}

#subtitle {
    font-weight: bold;
    font-size: 22px;
    color: grey;
    margin-top: 6px;
}

#data-subtitle {
    font-size: 15px;
}

#photo-text {
    font-size: 14px;
}

.highlights {
    background-color: yellow;
}

ul {
    padding-left: 15px;
}

table {
        border-collapse: collapse;
        text-align: left;
}

th {
    background-color: #4096f7;
    color: white;
    border-collapse: collapse;
}

.blue-table-row {
    background-color: #8ad0ff;
}

#might-interest {
    font-size: 22px;
    color: grey;
}

/* 

PER FARE BOX CON SCRITTE FINALI

.footer-title {
    margin-bottom: 10px;
    font-size: 16px;
    color: gray;
}

.image {
    width: 200px;
    height: 160px;
    margin-bottom: 
    background: gray;
}

CREARE 2 ID PER INSERIRE BACKGROUND AI DUE BOX FINALI

#ID IMMAGINE 1

#ID IMMAGINE 2

*/

#box-1 {
    padding-top: 9px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    color: white;
    background-image: url(../img/monitor.jpg);
    width: 252px;
    height: 206px;
}

#box-2 {
    padding-top: 9px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    color: white;
    background-image: url(../img/graph.jpg);
    width: 252px;
    height: 206px;
}