body {
    margin: 0;
}

* {
    font-size: 18px;
}

#logo {
    height: 60px;
    padding-top: 50px;
    padding-left: 10px;
}

#header {
    height: 110px;
    background-color: #4096f7;
    background-image: url("../img/pattern.png");
    background-size: 22%;
    margin: 0px 23%;
}

#main-content {
    margin: 15px 23%;
}

h1 {
    font-size: 56px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#the-booleaner {
    margin-top: 0;
    color: #4096f7;
    font-size: 22px;
}

#subtitle {
    font-weight: bold;
    font-size: 22px;
    color: grey;
}

#data-subtitle {
    font-size: 15px;
}

#photo-text {
    font-size: 14px;
}

.highlights {
    background-color: yellow;
}

ul {
    padding-left: 15px;
}

table {
        border-collapse: collapse;
        text-align: left;
}

th {
    background-color: #4096f7;
    color: white;
    border-collapse: collapse;
}

.blue-table-row {
    background-color: #8ad0ff;
}

#might-interest {
    font-size: 22px;
    color: grey;
}